<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-title" content="CodePen">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mdb.min.css') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link href="{{ url_for('static', filename=theme) }}" rel="stylesheet" id="theme">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Hello</title>
</head>
<body class="d-flex flex-column min-vh-100 ">
{% include "navPanel.html" %}

                       <div class="wrapper flex-grow-1">
                       {% block messages %} {% endblock %}
                    <div class='container'>

                       </div>

                        <div class="container mt-5 mb-5" id ='main_cntr' >
                                <form method="post">
                                <p>
                                    <label for="log">Введите номер электронной почты</label>
                                    {% if isNewEmail %}
                                        <input id="log" name="log" type="email"  required>
                                        <label style="color:red">Электронной почты в системе не добавлено!</label>
                                    {% else %}
                                        <input id="log" name="log" type="email" value="{{login}}" required>
                                    {% endif %}
                                </p>
                                <p>
                                    <label for="pas">Введите пароль</label>
                                    {% if isIncorrectPassword %}
                                        <input id="pas" name="pas" type="password" required>
                                        <label style="color:red">Неверный пароль!</label>
                                    {% else %}
                                        <input id="pas" name="pas" type="password" value="{{inputData.password}}" required>
                                    {% endif %}
                                </p>
                                    <button type="submit" style="background-color: white">Войти</button>
                                </form>
                       </div>
                       </div>

                       <div class = "container-fluid mb-3">{% block addit %} {% endblock %}</div>
                        </div>


{% include "chat.html" %}
{% include "footer.html" %}
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/mdb.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>